%table.table-bordered.table-striped#standings
  %thead
    %tr
      %th.rank
      %th.name  Name
      %th.count Score
  %tbody
    %tr
      %td ..
      %td ..
      %td ..

%script{ :id => "score-template", :type => "text/x-handlebars-template" }
  == <tr class="{{ rowClass }}"><td>{{ standing }}</td><td class="name">{{ name }}</td><td>{{ score }}</td></tr>
