@import "mixins.sass"

.login
  h1
    text-align: center
    margin: 20px 0
  p
    line-height: 100px
    text-align: center

    a
      padding: 20px
      @include rounded(10px)
      display: inline-block
      border: 1px solid #333
      height: 100px
      margin: 0 20px
      img
        vertical-align: middle