.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Puzzle Festival
      .nav-collapse
        %ul.nav
          %li
            %a.home{ :href => '/'}
              %img{:src => current_user.avatar_url}
              Hello,
              = current_user.username
              = image_tag "logos/icon-#{current_user.provider}.png"
          %li.divider-vertical
          %li
            %a{ :href => '/rankings'} Ranking
          %li
            %a{ :href => '/puzzles'} Puzzles
          %li.divider-vertical
          %li
            %a{ :href => '/logout'} Logout