.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Puzzle Festival
      .nav-collapse
        %ul.nav
          %li
            %a.home{ :href => '/'} 
              Logged in via
              %b= current_user.provider
          %li.divider-vertical
          %li
            %a{ :href => '/rankings'} Ranking
          %li
            %a{ :href => '/puzzles'} Puzzles
          %li.divider-vertical
          %li
            %a{ :href => '/logout'} Logout