.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Hackstrap
      .nav-collapse
        %ul.nav
          %li
            %span.inactive
              Logged in via
              %b= current_user.provider
          %li.divider-vertical
          - if current_user.admin?
            %li
              %a{ :href => '/puzzles'} Puzzles
          %li
            %a{ :href => '/logout'} Logout