
- @puzzles.each do |puzzle|
  %h3.puzzle
    = link_to puzzle.name, puzzle, :class => 'puzzle'

    = link_to 'Edit', edit_puzzle_path(puzzle)
    = link_to 'Destroy', puzzle, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Puzzle', new_puzzle_path